/**
 * text-progress - v0.1.1 - 15-07-2015
 * @desciption TextProgress is a simple text-based progress indicator.
 * @copyright Aliaksandr Astashenkau <dfsq.dfsq@gmail.com>.
 * @licence MIT.
 */
.progress {
	font-family: monospace, 'Courier New', Courier;
	white-space: pre;
}
.progress .completed {
	color: #3dac4a;
}
